<form class="container" #myForm="ngForm" (ngSubmit)="signIn(myForm.value)">
    <h2>Please sign In</h2>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="Enter your email"
        ngModel
        name="email"
        #email="ngModel"
        required
        email
      />
      <div
        class="errors d-flex justify-content-center"
        *ngIf="email.touched && email.invalid"
      >
        <div *ngIf="email.errors?.required">*Email is required*</div>
        <div *ngIf="email.errors?.email">*Invalid Email*</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter your password"
        ngModel
        name="password"
        #password="ngModel"
        required
      />
      <div
        class="errors d-flex justify-content-center"
        *ngIf="password.touched && password.invalid"
      >
        <div *ngIf="password.errors?.required">*Password is required*</div>
      </div>
    </div>
    <div  class="errors d-flex justify-content-center" *ngIf='invalidLogin'>
      *Please check email and password*
    </div>
    <button class="btn btn-large btn-primary btn-block" type="submit">
      Login
    </button>
  </form>
  
