<form class="container" #myForm="ngForm" (ngSubmit)="signUp(myForm.value)">
    <h2>Please sign up</h2>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
        ngModel
        name="name"
        #name="ngModel"
        required
        minlength="3"
      />
      <div
        class="errors d-flex justify-content-center"
        *ngIf="name.touched && name.invalid"
      >
        <div *ngIf="name.errors?.required">*Name is required*</div>
        <div *ngIf="name.errors?.minlength">
          *Minimum length of name is {{ name.errors?.minlength.requiredLength }}*
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="age">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        placeholder="Enter your age"
        ngModel
        name="age"
        #age="ngModel"
        required
      />
      <div
        class="errors d-flex justify-content-center"
        *ngIf="age.touched && age.invalid"
      >
        <div *ngIf="age.errors?.required">*Age is required*</div>
      </div>
      <div class="errors d-flex justify-content-center" *ngIf='invalidAge'>
        *Age must be +ve number*
      </div>
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="Enter your email"
        ngModel
        name="email"
        #email="ngModel"
        required
        email
      />
      <div
        class="errors d-flex justify-content-center"
        *ngIf="email.touched && email.invalid"
      >
        <div *ngIf="email.errors?.required">*Email is required*</div>
        <div *ngIf="name.errors?.email">*Invalid Email*</div>
      </div>
      <div class="errors d-flex justify-content-center" *ngIf='invalidEmail'>
        *Email already exist*
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter your password"
        ngModel
        name="password"
        #password="ngModel"
        required
      />
      <div
        class="errors d-flex justify-content-center"
        *ngIf="password.touched && password.invalid"
      >
        <div *ngIf="password.errors?.required">*Password is required*</div>
      </div>
    </div>
    <button
      class="btn btn-large btn-primary btn-block"
      type="submit"
      [disabled]="myForm.invalid"
    >
      Sign Up
    </button>
  </form>
  
