header{
    background-color:#0a0320;
    height: 100px;
    color: aliceblue;
    text-align: center;

   
    
}
h3{
    padding-top: 30px;
    text-transform: uppercase;
}
nav{
   
    background-color:#0a0320;
}
a{
    color: rgb(210, 246, 49);
}